footer {
  background-image: url(../assets/book-trace-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 415px;

  display: flex;
  padding-top: 180px;
}

.header {
  margin-left: 10rem;
  margin-right: auto;
}

.social-links {
  ul {
    display: flex;
    margin-top: .75rem;
  }

  li{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    & span {
      display: block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      background-color: var(--shape-stroke);
      border-radius: 50%;
      transform: scale(1.1);
    }
  }
}

.content-footer {
  & h3 {
     font: var(--title-xs);
     color: var(--text-body);
     margin-bottom: 1.25rem;
  }

  & li {
    font: var(--link);
    color: var(--blue-light);

    transition: color 300ms ease;

    &:hover {
      color: var(--text-body);
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  margin-right: 56px;
}

.help {
  & h3 {
    font: var(--title-xs);
    color: var(--text-body);
     margin-bottom: 1.25rem;
  }

  & li {
    font: var(--link);
    color: var(--blue-light);

    transition: color 300ms ease;


    &:hover {
      color: var(--text-body);
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  margin-right: 160px;
}

.content-and-help {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: -120px;
}

.instagram {
  background-image: url(../assets/instagram.svg);
}

.twitter {
  background-image: url(../assets/twitter.svg);
}

.facebook {
  background-image: url(../assets/facebook.svg);
}

.discord {
  background-image: url(../assets/discord.svg);
}

.whatsapp {
  background-image: url(../assets/whatsapp.svg);
}

.e-mail {
  background-image: url(../assets/mail.svg);
}

@media (max-width: 768px) {
  footer {
  background-image: url(../assets/Vector.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 98px 32px 38px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: auto;
  }

  .header {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 156px;
      height: 40px;
    }
  }

  .divider {
    width: 225px;
    margin-block: 12px;
    border: 1px solid var(--shape-stroke);
  }

  .social-links {
    margin-top: -12px;
  }

  .content-and-help {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 40px;
    margin-left: 170px;
  }
}